{{!-- The following component displays Ember's default welcome message. --}}
<h1>HELLO</h1>
{{!-- Feel free to remove this! --}}
<form name="contact" method="post">
<input type="hidden" name="form-name" value="contact" />
<p>
<label>Your Name: <input type="text" name="name"/></label>
</p>
<p>
<label>Your Email: <input type="email" name="email"/></label>
</p>
<p>
<button type="submit">Send</button>
</p>
</form>

{{outlet}}